
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.title-bar {
  -webkit-app-region: drag;
  width: 100%;
  height: 4%;
  background-color: #303030;
}